@import './reset';
@import './variables/globals';
@import './theme/light';
@import './theme/dark';
@import './theme/orange';

body {
    font: var(--font-m);
    color: var(--primary-color);
}
body.redesigned {
    font: var(--font-m-redesigned);
    color: var(--text-redesigned);
}

.app {
    background: var(--bg-color);
    min-height: 100vh;
}
.app_redesigned {
    background: var(--bg-redesigned);
    min-height: 100vh;
    font: var(--font-m-redesigned);
    color: var(--text-redesigned);
}

.content-page {
    display: flex;
}

*::-webkit-scrollbar {
    width: 16px; /* ширина всей полосы прокрутки */
    height: 12px;
}

*::-webkit-scrollbar-track {
    background: var(--card-bg); /* цвет зоны отслеживания */
}

*::-webkit-scrollbar-thumb {
    background-color: var(--inverted-primary-color); /* цвет бегунка */
    border-radius: 20px; /* округлось бегунка */
    border: 3px solid var(--primary-color); /* отступ вокруг бегунка */
}

a {
    text-decoration: none;
    color: inherit;
}
