.ArticleList {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.BIG {
    flex-flow: column nowrap;
}

.SMALL {
    .card {
        display: inline-flex;
    }

    .row {
        display: flex;
        gap: 30px;
    }
}
