body.dark {
    --bg-color: #0c0c75;
    --inverted-bg-color: #cbcbd1;
    --primary-color: #049684;
    --secondary-color: #369936;
    --inverted-primary-color: #0d1f5a;
    --inverted-secondary-color: #2f16b9;
}
