body.light {
    --bg-color: #cbcbd1;
    --inverted-bg-color: #0c0c75;
    --primary-color: #0d1f5a;
    --secondary-color: #2f16b9;
    --inverted-primary-color: #049684;
    --inverted-secondary-color: #369936;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;

    // card
    --card-bg: #dddde9;

    // listbox
    --listbox-bg: #dddde9;
}
